<template name="nav">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{{pathFor 'home'}}" class="brand-logo">{{_ "Loanly"}}</a>
            {{>navElem class="right hide-on-med-and-down"}}
            {{#navElem class="side-nav" id="nav-mobile"}}
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            {{/navElem}}
        </div>
    </nav>
</template>