<template name="footer">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Loanly LTD</h5>
                    <p class="grey-text text-lighten-4">
                        Imagine all the people, Living life in peace... <br/>
                        Imagine all the people, Sharing all the world...
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Share your world</h5>
                    <ul>
                        <li><a href="#/loan/list" class="white-text">Loans</a></li>
                        <li><a href="#/loan/form" class="white-text">Create Loan</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Sign In</a></li>
                        <li><a class="white-text" href="#!">Sign Up</a></li>
                        <li><a class="white-text" href="#!">Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://bankhapoalim.co.il">New Bank Site Developing Team</a>
            </div>
        </div>
    </footer>
</template>