.invest-rate-pie{
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto;

  .invest-rate-pie-content{
    position: absolute;
    left: 0;
    top: 0;

    padding-top: 0px;

    margin: 15px auto;
    margin-top: 25px;
    width: 90px;
    text-align:center;
    line-height: normal;
    .percentage{
      font-size: 1rem;
      font-weight: bold;
      margin: 0;

    }
  }
}
#invest-rate-pie{
  width: 90px;
  height: 90px;
}