<template name="loanItem">
    <div class="col s12 l4">
        <p>{{myLoansList}}</p>
        <div class="card loan-item">
            <div class="card-header clearfix">
                <div class="date">
                    <small>{{_"Ends at"}}</small>
                    <div>{{time endsAt}}</div>
                </div>

                <div class="user">
                    <i class="material-icons {{user.userCreditRatingStr}}" title="{{user.userCreditRatingStr}}">grade</i>
                    <a href="{{pathFor 'userprofile'}}">{{user.username}}</a>
                </div>

                <small>{{_ "rate"}}</small>
                <div class="rate">{{percentage rate}}</div>
            </div>

            <div class="progress">
                <div class="determinate" style="width: {{fundedPercentage}}%"></div>
                <div class="amount">{{money amount}}</div>
            </div>

            <div class="card-image category-{{categoryId}}" style="background-image: url('{{image}}');">
                <div class="investments">
                    <i class="material-icons">perm_identity</i>
                    <span>{{count investments.length}}</span>
                </div>
                <h6 class="card-title">{{title}}</h6>
            </div>

            <div class="card-action">
                <a href="{{pathFor 'loan-details'}}">{{_ "more details"}}</a>
                <button class="btn-floating waves-effect right add"><i class="material-icons">add</i></button>
            </div>
        </div>
    </div>
</template>