<template name="loansList">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h2 class="header">
                    {{# if myLoansList}}
                        {{_ "My loans requests"}}
                    {{else}}
                        {{_ "Loans requests"}}
                    {{/if}}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <label for="sort">{{_ "Sort by"}}</label>
                <select name="sort" class="browser-default sort-option">
                    <option value="createdAt" {{selected "createdAt"}}>{{_ "Created at date"}}</option>
                    <option value="endsAt" {{selected "endsAt"}}>{{_ "Ends at date"}}</option>
                    <option value="period" {{selected "period"}}>{{_ "Short period"}}</option>
                    <option value="userCredit" {{selected "userCredit"}}>{{_ "User credit"}}</option>
                    <option value="rate" {{selected "rate"}}>{{_ "High rate"}}</option>
                    <option value="amount" {{selected "amount"}}>{{_ "Low amount"}}</option>
                    <!--<option value="endsAt">{{_ "Nearing completion"}}</option>-->
                </select>
            </div>
            <div class="col s12 m6 l5">
                <label for="search">{{_ "Search"}}</label>
                <input type="text" id="search" name="search" placeholder="{{_ "Write loan name"}}..."/>
            </div>
            <!--<a href="{{pathFor 'loan-form'}}" class="waves-effect waves-light btn">Create Loan</a>-->
        </div>

        {{#unless Template.subscriptionsReady}}
            {{> spinner}}
        {{/unless}}

        <div class="row">
            {{#each loans}}
                {{> loanItem}}
            {{/each}}
        </div>

        <!--paging-->
        <ul class="pagination">
            <li class="waves-effect {{prevPageClass}}">
                <a id="prevPage" href="{{prevPage}}"><i class="material-icons">chevron_left</i></a>
            </li>
            <li class="waves-effect {{nextPageClass}}">
                <a id="nextPage" href="{{nextPage}}"><i class="material-icons">chevron_right</i></a>
            </li>
        </ul>

        <!-- Modal Structure -->
        <div id="investmentModal" class="modal">
            <div class="modal-content">
                <h4>{{currentLoan.title}}</h4>

                {{> investmentForm loan=currentLoan onSuccess=addInvestment}}
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">{{_ "close"}}</a>
            </div>
        </div>
    </div>
</template>
