<template name="loanItem">
    <div class="col s12 l4 loan-item">
        {{#if isOwner}}
        <p>
            <ul class="user-actions">
                {{#if isWaiting}}<li><a href="#" class="right">{{_ "Edit"}}</a></li>{{/if}}
                {{#unless isFinished}}<li><a href="#" class="right">{{_ "Cancel"}}</a></li>{{/unless}}
            </ul>
            {{#if isWaiting}}(*) {{_ "Waiting for approval"}}{{/if}}
            &nbsp;
        </p>
        {{/if}}

        {{#if isFinished}}
        <p>(*) {{_ "Finished"}}</p>
        {{/if}}
        <div class="card">
            <div class="card-header clearfix">
                <div class="date">
                    <small>{{_"Period"}}: {{period}} {{_ "Months"}}</small>
                    <br/>
                    <small>{{_"Ends at"}}</small>
                    <div>{{time endsAt}}</div>
                </div>

                <div class="user">
                    <i class="material-icons {{user.userCreditRatingStr}}" title="{{user.userCreditRatingStr}}">grade</i>
                    <span>{{user.username}}</span>
                </div>

                <small>{{_ "rate"}}</small>
                <div class="rate">{{percentage rate}}</div>
            </div>

            <div class="progress">
                <div class="determinate" style="width: {{fundedPercentage}}%"></div>
                <div class="amount">{{money amount}}</div>
            </div>

            <div class="card-image category-{{categoryId}}" style="background-image: url('{{image}}');">
                <div class="investments">
                    <i class="material-icons">perm_identity</i>
                    <span>{{count investments.length}}</span>
                </div>
                <h6 class="card-title">{{title}}</h6>
            </div>

            <div class="card-action">
                <a href="{{pathFor 'loan-details'}}">{{_ "more details"}}</a>

                {{#unless isOwner}}
                <button class="btn-floating waves-effect right add"><i class="material-icons">add</i></button>
                {{/unless}}
            </div>
        </div>
    </div>
</template>